* {
  box-sizing: border-box;
  max-width: 100%;
  font-family: "Merriweather", Georgia, serif;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Merriweather", Georgia, serif;
  font-size: 1.6rem;
  color: #212931;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 8rem;
}

h2 {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 6.4rem;
}

h3 {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 900;
}

div {
  font-family: inherit;
}

p {
  font-size: 1.6rem;
}

.container {
  max-width: 130rem;
  margin: auto;
}

header {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.664),
      rgba(13, 15, 44, 0.644)
    ),
    url("assets/images/overlay.png"), url("assets/images/bg.jpg");
  background-size: cover;
  position: relative;
}

header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 4.8rem;
}

nav {
  display: flex;
  position: absolute;
  bottom: 0;
  color: #fff;
  background: linear-gradient(
    to right,
    rgba(88, 88, 88, 0.5),
    rgba(88, 88, 88, 0.5)
  );
  width: 100%;
  justify-content: space-between;
  align-items: center;
  max-width: 130rem;
  transform: translateX(-50%);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.hero-heading {
  font-size: 8rem;
  color: #fff;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  padding: 0 4vw;
  max-width: 60%;
  margin-bottom: 2.8rem;
  text-align: center;
}

.hero-text {
  font-family: inherit;
  font-size: 1.6rem;
  color: #fff;
  font-style: italic;
  padding: 0 2vw;
  text-align: center;
  max-width: 80%;
  line-height: 3.5rem;
  margin-bottom: 4.8rem;
}

.hero-text span {
  color: #fff;
  text-decoration: underline;
}

.down-arrow {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ion-arrow {
  width: 2rem;
  height: 2rem;
  color: #fff;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 25%;
  animation: bounce 1s ease-out infinite;
}

@keyframes bounce {
  0% {
    top: 25%;
  }

  50% {
    top: 40%;
  }

  100% {
    top: 25%;
  }
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 5.32rem;
  overflow: hidden;
}

.nav-left,
.nav-right {
  display: flex;
  max-width: 100%;
}

.nav-left a,
.nav-right a {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: 900;
  letter-spacing: 1.2px;
  padding: 1.6rem 2.4rem;
  justify-self: center;
  align-self: center;
  height: fit-content;
}

.nav-left a {
  height: 5.32rem;
}

.socials {
  width: 1.8rem;
  height: 1.8rem;
  justify-self: center;
  align-self: center;
  color: inherit;
}

.nav-active {
  background-color: #fff;
  color: #353535;
}

.nav-left a:hover,
.nav-left a:active,
.nav-left a:focus,
.nav-right a:hover,
.nav-right a:active,
.nav-right a:focus {
  background-color: #fff;
  color: #353535;
}

section,
aside {
  background: linear-gradient(
      to bottom,
      rgba(13, 15, 44, 0.644),
      rgba(13, 15, 44, 0.644)
    ),
    url("assets/images/overlay.png"), url("assets/images/bg.jpg");
  background-size: contain;
  background-position: center center;
}

section .container {
  background-color: #fff;
  padding: 4.8rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4.8rem;
  border-bottom: 1px solid #909498;
}

.time-stamp {
  position: relative;
}

.time-stamp::after,
.time-stamp::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 30vw;
  background-color: #909498;
  right: 150%;
  top: 50%;
}

.time-stamp::after {
  right: 0;
  left: 150%;
}

.heading {
  font-weight: 900;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.11rem;
  font-size: 6.4rem;
  max-width: 70%;
  margin-top: 4.6rem;
}

.text {
  max-width: 70%;
  text-align: center;
  align-self: center;
  line-height: 2;
  font-style: italic;
  margin-bottom: 3.6rem;
}

.image {
}

.full-story-button {
  margin-top: 4.6rem;
  margin-bottom: 5rem;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 1.2px;
  padding: 1.6rem 2.4rem;
  padding: 1.2rem 2.4rem;
  outline: 3px solid #1e252d;
  background-color: #fff;
  color: inherit;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-in;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.05);
}

.full-story-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #212931;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease-in;
}

.full-story-button:hover::before,
.full-story-button:active::before,
.full-story-button:focus::before {
  transform: scale(1);
  transition: all 0.3s ease-in;
}

.full-story-button:hover,
.full-story-button:active,
.full-story-button:focus {
  color: #fff;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.1);
}

.more-article {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.more-article::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #909498;
}

.more-heading {
  font-weight: 900;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.11rem;
  font-size: 2rem;
  max-width: 50%;
  margin-top: 4.6rem;
}

.page-number ul {
  display: flex;
  margin-top: 4.8rem;
  font-weight: 900;
}

.page-number a {
  margin: 0;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
  background-color: #fff;
  border: 2px solid #eee;
}

.page-number-active,
.page-number a:hover,
.page-number a:active,
.page-number a:focus {
  background-color: #eee !important;
}

.page-number ul li:last-child a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

aside .container {
  background-color: #f5f5f5;
  color: #717981;
  display: flex;
  justify-content: space-evenly;
}

aside h3 {
  letter-spacing: 0.05rem;
}

.cta,
.contact-details {
  width: 50%;
}

.cta {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 4.8rem 9.6rem 4.8rem 9.6rem;
  max-width: 50%;
}

.cta input {
  width: 100%;
  font-size: 2rem;
  padding: 0.8rem;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  outline: 3px solid #909498;
  border: none;
  background: transparent;
  color: #5e5e5e;
  font-weight: 600;
}

#user-textarea {
  width: 100%;
  outline: 2px solid #909498;
  background: transparent;
  color: #5e5e5e;
  font-weight: 600;
  font-size: 2rem;
  padding: 0.8rem;
}

.btn {
  align-self: start;
  border: none;
  background: transparent;
  color: #5e5e5e;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 1.2px;
  padding: 1.6rem 2.4rem;
  padding: 1.2rem 2.4rem;
  outline: 3px solid #909498;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-in;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.05);
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #909498;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.3s ease-in;
}

.btn:hover::before,
.btn:active::before,
.btn:focus::before {
  transform: scale(1);
  transition: all 0.3s ease-in;
}

.btn:hover,
.btn:active,
.btn:focus {
  color: #f5f5f5;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.1);
}

.contact-details {
  max-width: 50%;
}

.contact-details div {
  padding: 4.8rem 9.6rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6.4rem;
  line-height: 3.5rem;
  border-bottom: 2px solid rgb(179, 179, 179);
  position: relative;
}

.contact-details div::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: rgb(179, 179, 179);
  left: 0;
}

.address h3 {
  display: inline-block;
  max-width: 50%;
}

.address ul {
  display: flex;
  gap: 3.2rem;
}

.socials {
  padding: 0.4rem;
  border-radius: 50%;
  border: 1px solid #5e5e5e;
}

footer {
  padding: 3.6rem 4.8rem 9.6rem 4.8rem;
  background: linear-gradient(
      to bottom,
      rgba(13, 15, 44, 0.644),
      rgba(13, 15, 44, 0.644)
    ),
    url("assets/images/overlay.png"), url("assets/images/bg.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer h3 {
  color: #5e5e5e;
}

/* Mobile Menu */

#toggle {
  width: 15rem;
  height: 15rem;
  z-index: 1000000000000000000000;
  position: fixed;
  top: 0rem;
  right: 0rem;
  opacity: 0;
  transition: all 0.2s ease-in;
}

.show-toggle {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 10000000000;
  opacity: 0;
  transition: all 0.2s ease-in;
}

.show-toggle span {
  background: transparent;
  width: 4rem;
  height: 4rem;
  display: inline-block;
  z-index: 0;
  transition: all 0.2s ease-in;
}

.show-toggle span div {
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: relative;
  top: 50%;
  bottom: 100%;
  z-index: 0;
  transition: all 0.2s ease-in;
}

.show-toggle h3 {
  margin-top: 0;
}

.show-toggle span::before,
.show-toggle span::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #fff;
  top: 12.5%;
  z-index: 0;
  transition: all 0.2s ease-in;
}

.show-toggle span::after {
  top: 45%;
  z-index: 0;
  transition: all 0.2s ease-in;
}

#toggle:checked ~ .show-toggle span div {
  transform: rotate(225deg);
  transition: all 0.2s ease-in;
}

#toggle:checked ~ .show-toggle span::before,
#toggle:checked ~ .show-toggle span::after {
  transform: rotate(315deg);
  top: 25%;
  transition: all 0.2s ease-in;
}
